#
# SmartGear configuration file
#
verbose
# The display_type can be lcd,fb0,fb1
display_type lcd
start_dir /home/pi/Projects/smartgear_linux/games
# SPI channel number
lcd_channel 0
# flipped = rotated 180, another value = normal orientation
lcd_orientation normal
# waveshare35a
# SPI speed
#lcd_speed 16000000
# lcd_type can be one of: st7735 (128x160), ili9341 (240x320), hx8357 (320x480)
#lcd_type hx8357
# SPI ST7735 & HX8357 connections
#lcd_dc 18
#lcd_rst 22
#lcd_led 12
# SPI ILI9341 connections to header pin numbers (not bcm GPIO numbers)
lcd_speed 32000000
lcd_type ili9341
# piplay setup
lcd_dc 18
lcd_rst 22
lcd_led 13
# my setup
#lcd_dc 16
#lcd_rst 18
#lcd_led 11


# possible player controls: keyboard, gpio, gamepad0 gamepad1
p1 gpio
p2 gamepad0

# keyboard definitions use scancodes

# ESC
key_exit 1
# arrow keys (not keypad)
key_up 103
key_down 108
key_left 105
key_right 106
# Z key
key_start 44
# B key
key_select 48
# ENTER
key_a 28
# Q
key_b 16
# W
key_c 17
# E
key_d 18

# GPIO definitions use header pin numbers (not BCM GPIO numbers)
gpio_up 37
gpio_down 33
gpio_left 32
gpio_right 31
gpio_a 36
gpio_b 38
gpio_c 29
gpio_d 40
gpio_start 7
gpio_select 11
gpio_exit 40

# Gamepad definitions for SteelSeries:Free
# exit is left shoulder button
gamepad_exit 6
gamepad_start 12
gamepad_select 11
gamepad_a 3
gamepad_b 4
gamepad_c 1
gamepad_d 0

# Gamepad definitions for USB Buffalo controller custom button mapping
#gamepad_exit 4
#gamepad_start 9
#gamepad_select 8
#gamepad_a 1
#gamepad_b 2
#gamepad_c 0
#gamepad_d 3

